<div class="chat-messages">
  <% messages.each do |m| %>
    <% if chat.user_id == current_user.id %>
      <div class="message self">
        <div class="message-body">
          <%= message.message %>
        </div>
      </div>
    <% else %>
      <div class="message other">
        <div class="message-sender"><%= message.user.name %></div>
        <div class="message-body">
          <%= message.message %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>