<div class="container">
 <div class="row">
   
  <div class="col-md-12">
     <% if @model == "User" %>
     	<h3>Users search for "<%= @content %>"</h3>
        <%= render 'users/index', users: @records %>
     <% else @model == "Book" %>
	     <h3>Books search for "<%= @content %>"</h3>
        <%= render 'books/index', books: @records %>
     <% end %>
  </div>
 
 </div>
</div>